@model SAD360.MVC.ViewModels.QuestaoViewModel

@{
    ViewBag.Title = "Detalhes da Questão";
}

<h2>Detalhes da Questão</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto)
        </dd>        
    </dl>

    <hr />
    <p>Alternativas:</p>
    <ol>
        @for (int i = 0; i <= Model.alternativas.Count - 1; i++)
        {
            <li>@Model.alternativas.ElementAt(i).texto</li>
        }
    </ol>

</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.QuestaoId }) |
    @Html.ActionLink("Voltar", "Index", new { id = Model.QuestionarioId})
</p>
